* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.canvas {
    border: 5px solid black;
}

.stats {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.stats span, .stats button{
    border: none;
    background-color: darkturquoise;
    border-radius: 15px;
    padding: 20px;
}

.next-level-btn {
    display: none;
    background-color: blue;
}