* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.canvas {
    border: 3px solid black;
    margin: 30px;
    max-width: calc(100vw - 60px);
}